$grey-50: #fafafb;
$grey-200: #f1f1f2;
$grey-300: #ebebec;
$grey-400: #d2d6db;
$grey-500: #676878;
$grey-600: #585863;
$grey-dark: #585863;
$grey-bg: #e5e5e5;
$black: #0d0c22;
$accent: #ffc000;
$accent-100: #fdf6b2;
$accent-400: #723b14;
$accent-dark: #723b14;
