@use 'fonts';
@use 'colors';
@use 'common';
@use 'utility';

// 
.b-p-rootBlank {
    width: 100%;
    height: 50px;
}

// 
// .b-p-container {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

.b-p-content {
    width: 920px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media (min-width: 0px) and (max-width: 991px) {
        width: 100%;
    }



    // 
    &>* {
        @include utility.spacing-B(30px);
    }

    // 
    .b-p-content-top {
        display: flex;
        flex-direction: row;

        @media (min-width: 0) and (max-width: 767px) {
            flex-direction: column;
        }

        .b-p-content-top-left {
            flex: 1;
            // 
            display: flex;
            flex-direction: column;
            align-items: center;
            // 
            margin-right: 20px;

            @media (min-width: 0) and (max-width: 767px) {
                margin-right: 0px;
                margin-bottom: 50px;
            }

            .b-p-imageProfile {
                width: 150px;
                height: 150px;
                border-radius: 999px;
                background-image: url("../images/icons/imageUploadDefault.svg");
                overflow: hidden;
                background-size: cover;
                background-position: center;

                img {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                }
            }

            .b-p-imageUploadButtonSection {
                width: 224px;
                height: 41px;
                padding: 10px 15px;
                margin-top: 11px;
                margin-bottom: 11px;
                box-sizing: border-box;
                border: 1px solid colors.$grey-400;
                border-radius: 5px;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.02em;
                color: colors.$grey-500;

                input {
                    display: none;
                }

                label {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                }
            }

            .b-p-imageSize {
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                color: colors.$grey-500;
                // max-width: 197px;
                // text-align: center;
            }


        }

        .b-p-content-top-right {
            flex: 1;
            // 
            display: flex;
            flex-direction: column;

            &>* {
                @include utility.spacing-B(10px);
            }
        }
    }

    .b-p-content-sep {
        width: 100%;
        height: 1px;
        background: colors.$grey-400;
    }

    .b-p-content-bot {
        display: flex;
        flex-direction: row;

        &>* {
            flex: 1;
            @include utility.spacing-R(20px);

            @media (min-width: 0) and (max-width: 767px) {
                margin-right: 0px !important;
                @include utility.spacing-B(20px);

            }
        }

        // 
        @media (min-width: 0) and (max-width: 767px) {
            flex-direction: column;
        }
    }

    .b-p-content-btns {
        // width: fit-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        // align-self: flex-end;
        @media (max-width: 575px) {
            flex-direction: column-reverse;
        }

        &>* {
            @include utility.spacing-R(10px);

            @media (max-width: 575px) {
                margin-right: 0 !important;
            }
        }

        button {
            height: 57px;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.02em;
            box-sizing: border-box;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            @media (max-width: 575px) {
                width: 100% !important;
            }
        }

        // 
        .b-p-btn-main {
            color: white;
            // padding: 0 50px;
            background: colors.$accent;
            width: 171px;

            @media (min-width: 576px) and (max-width: 767px) {
                width: 65%;
            }

            @media (max-width: 575px) {
                margin-bottom: 10px;
            }

            // 
            &:hover {
                background: colors.$accent-200;
            }

            &:focus {
                background-color: colors.$accent;
                outline: none !important;
                border: 1px solid colors.$accent-300;
                box-shadow: 0 0 0 3px colors.$accent-100;
            }
        }

        .b-p-btn-sec {
            color: colors.$grey-500;
            background: colors.$grey-100;
            // padding: 0 65px;
            width: 196px;

            // 
            &:hover {
                background: colors.$grey-50;
            }

            &:focus {
                outline: none !important;
                border: 1px solid colors.$grey-400;
                box-shadow: 0 0 0 3px colors.$grey-200;
                background-color: colors.$grey-100;
            }
        }
    }

    // 
    // 
    .b-p-content-top-right-input-grp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        // 
        .b-p-input-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.02em;
            color: colors.$black;
            margin-bottom: 5px;
        }

        .b-p-input {
            width: 100%;
            height: 40px;
            border: 1px solid colors.$grey-400;
            box-sizing: border-box;
            border-radius: 5px;
            padding-left: 5px;
            margin-top: 5px;

            &:focus {
                outline: none !important;
                border: 1px solid colors.$grey-500;
                box-shadow: 0 0 0 2px colors.$grey-400;
            }
        }

        // 
        .b-p-commentArea {
            min-width: 100%;
            max-width: 450px;
            min-height: 147px;
        }

        .b-p-cities-list {
            border: 1px solid colors.$grey-400;
            box-sizing: border-box;
            border-radius: 5px;
            // bottom: -110px;
            margin-top: 75px;
            padding: 5px 0;
            position: absolute;
            width: 100%;
            background-color: white;
            display: none;

            .b-p-city-select {
                padding: 4px 5px;
                height: 24px;
                font-size: 14px;
                line-height: 16px;
                color: colors.$grey-600;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .b-p-city-select:hover {
                background-color: colors.$grey-100;
            }

            .b-p-city-select:focus {
                outline: none !important;
                background-color: colors.$grey-100;
            }

        }

        // 
        .b-p-input-error {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            margin-top: 5px;
            color: colors.$red-200;
        }

        .b-p-error-border {
            border: 1px solid colors.$red !important;
            box-shadow: 0 0 0 2px colors.$red-100 !important;
        }

    }
}

.errorStyle {
    color: colors.$red-200 !important;
    font-weight: bold;
}

// }
