@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
.container {
  padding: 0;
}

body {
  margin: 0;
}

* {
  font-family: "Roboto" !important;
}

.container-custom {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container-custom {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-custom {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-custom {
    width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-custom {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .container-custom {
    width: 320px;
  }
}

.container-custom2 {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container-custom2 {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-custom2 {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-custom2 {
    width: 555px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-custom2 {
    width: 527px;
  }
}
@media (max-width: 575px) {
  .container-custom2 {
    width: 320px;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.hide_me {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.b-m-bot .b-m-bot-comments-cont {
  width: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 991px) {
  .b-m-bot .b-m-bot-comments-cont {
    width: 100%;
  }
}
.b-m-bot .b-m-bot-comments-cont > *:not(:last-child) {
  margin-bottom: 10px;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar {
  width: 100%;
  padding: 9px;
  box-sizing: border-box;
  min-height: 46px;
  background-color: white;
  border: 1px solid #ebebec;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #585863;
  line-height: 19px;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-left .b-m-bot-comments-info-bar-left-count {
  font-weight: 500;
  font-size: 18px;
  color: #0d0c22;
  margin-right: 2px;
  line-height: 21px;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right {
  width: fit-content;
  height: fit-content;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 140px;
  position: relative;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect .b-m-customSelect-bar {
  width: 100%;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #d2d6db;
  border-radius: 5px;
  overflow: hidden;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect .b-m-customSelect-bar .b-m-customSelect-bar-dropDown {
  padding: 0 10px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect .b-m-customSelect-bar .b-m-customSelect-bar-dropDown svg {
  margin-right: 10px;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect .b-m-customSelect-bar .b-m-customSelect-bar-dropDown .b-m-customSelect-bar-dropDown-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #585863;
  user-select: none;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect .b-m-customSelect-bar .b-m-customSelect-bar-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 100%;
  flex: none;
  border: none;
  background-color: white;
  border-left: 1px solid #d2d6db;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect .b-m-customSelect-bar .b-m-customSelect-bar-sort:hover {
  background-color: #fafafb;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect .b-m-customSelect-bar-list {
  position: absolute;
  top: 32px;
  left: 0;
  background-color: white;
  width: 100%;
  border: 1px solid #d2d6db;
  border-radius: 5px;
  transition: opacity 150ms ease-in-out;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect .b-m-customSelect-bar-list ul {
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect .b-m-customSelect-bar-list ul li {
  width: 100%;
  height: 24px;
  padding: 0 5px;
  background-color: white;
  display: flex;
  align-items: center;
  font-style: normal;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #585863;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect .b-m-customSelect-bar-list ul li:hover {
  background-color: #f7f7f8;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-info-bar .b-m-bot-comments-info-bar-right .b-m-customSelect .b-m-customSelect-bar-list ul .b-m-customSelect-bar-list-option-selected {
  pointer-events: none;
  color: #0d0c22;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #ebebec;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add > *:not(:last-child) {
  margin-bottom: 10px;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #0d0c22;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-text {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #d2d6db;
  height: 52px;
  min-height: 52px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-text {
    height: 82px;
    min-height: 82px;
  }
}
@media (max-width: 575px) {
  .b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-text {
    height: 115px;
    min-height: 115px;
  }
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra .b-m-bot-comments-add-extra-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra .b-m-bot-comments-add-extra-rating > *:not(:last-child) {
  margin-right: 10px;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra .b-m-bot-comments-add-extra-rating span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #585863;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra .b-m-bot-comments-add-extra-rating .b-m-bot-comments-add-extra-rating-btn {
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  overflow: hidden;
  cursor: pointer;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra .b-m-bot-comments-add-extra-rating .b-m-bot-comments-add-extra-rating-btn svg {
  padding: 5px;
  background-color: #f7f7f8;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra .b-m-bot-comments-add-extra-rating .b-m-bot-comments-add-extra-rating-btn-active .b-m-bot-comments-add-extra-rating-btn-P {
  background-color: #b4e7dc;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra .b-m-bot-comments-add-extra-rating .b-m-bot-comments-add-extra-rating-btn-active .b-m-bot-comments-add-extra-rating-btn-P path {
  fill: #51b6ab;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra .b-m-bot-comments-add-extra-rating .b-m-bot-comments-add-extra-rating-btn-active .b-m-bot-comments-add-extra-rating-btn-N {
  background-color: #ffb1b1;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra .b-m-bot-comments-add-extra-rating .b-m-bot-comments-add-extra-rating-btn-active .b-m-bot-comments-add-extra-rating-btn-N path {
  fill: #d74949;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra .b-m-bot-comments-add-submit {
  border-radius: 5px;
  border: none;
  background: white;
  box-sizing: border-box;
  padding: 5px 8px;
  border: 1px solid #d2d6db;
  font-weight: 500;
  font-size: 16px;
  color: #585863;
  cursor: pointer;
  transition: box-shadow 150ms cubic-bezier(1, 0.74, 0, 1);
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments-add .b-m-bot-comments-add-extra .b-m-bot-comments-add-submit:hover {
  box-shadow: 0px 2px 4px -2px rgba(163, 96, 96, 0.4);
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments > *:not(:last-child) {
  margin-bottom: 10px;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  border: 1px solid #ebebec;
  border-radius: 10px;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 575px) {
  .b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top {
    align-items: flex-start;
  }
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top .b-m-bot-comment-top-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 575px) {
  .b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top .b-m-bot-comment-top-left {
    flex-direction: column;
    align-items: flex-start;
  }
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top .b-m-bot-comment-top-left > * {
  font-size: 14px;
  color: #585863;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top .b-m-bot-comment-top-left .b-m-bot-comment-name {
  margin-right: 15px;
  font-weight: 500;
  color: #0d0c22;
}
@media (max-width: 575px) {
  .b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top .b-m-bot-comment-top-left .b-m-bot-comment-name {
    margin-right: 0;
    margin-bottom: 4px;
  }
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top .b-m-bot-comment-top-left .b-m-bot-comment-extra {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top .b-m-bot-comment-top-left .b-m-bot-comment-extra > *:not(:last-child) {
  margin-right: 15px;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top .b-m-bot-comment-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top .b-m-bot-comment-top-right .b-m-bot-comment-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #f7f7f8;
  border-radius: 999px;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top .b-m-bot-comment-top-right .b-m-bot-comment-rating-p {
  background-color: #b4e7dc;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-top .b-m-bot-comment-top-right .b-m-bot-comment-rating-n {
  background-color: #ffb1b1;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-bot {
  padding-top: 10px;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment .b-m-bot-comment-bot .b-m-bot-comment-text {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #0d0c22;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment-P .b-m-bot-comment-top .b-m-bot-comment-top-right .b-m-bot-comment-rating-n {
  display: none;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-comments .b-m-bot-comment-N .b-m-bot-comment-top .b-m-bot-comment-top-right .b-m-bot-comment-rating-p {
  display: none;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-btn-showMore {
  padding: 14px 34px;
  border: none;
  background-color: white;
  border: 1px solid #d2d6db;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-btn-showMore svg {
  margin-right: 10px;
}
.b-m-bot .b-m-bot-comments-cont .b-m-bot-btn-showMore span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #585863;
}

/*# sourceMappingURL=brikoleur-comments.css.map */
