@use 'fonts';
@use 'colors';
@use 'common';
@use 'utility';

// 
.b-m-bot {

    // 
    .b-m-bot-portfolio {
        // padding: 10px 0;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px) and (max-width: 991px) {
            width: 625px;
            // width: ;
            // padding: 0 65px;
            // box-sizing: border-box;
        }

        @media (min-width: 576px) and (max-width: 767px) {
            width: 540px;
        }

        @media (max-width: 575px) {
            width: 320px;
        }

        .b-m-bot-portfolio-cont {
            width: 730px;
            height: 425px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            @media (min-width: 0px) and (max-width: 991px) {
                width: 100%;
                flex-direction: column;
            }

            @media (min-width: 768px) and (max-width: 991px) {
                height: 550px;
                // flex-direction: column;
                // align-items: center;
            }

            @media (min-width: 576px) and (max-width: 767px) {
                // width: ;
                height: 493px;
            }

            @media (max-width: 575px) {
                height: 333px;
            }

            &>* {
                flex: none;
            }

            .b-m-bot-portfolio-preview {
                width: 625px;
                height: 100%;
                border-radius: 10px;
                overflow: hidden;
                margin-right: 10px;
                position: relative;
                overflow: hidden;

                @media (min-width: 0px) and (max-width: 991px) {
                    width: 100%;
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    height: 425px;
                }

                @media (min-width: 576px) and (max-width: 767px) {
                    height: 368px;
                }

                @media (max-width: 575px) {
                    height: 218px;
                }


                // @media (max-width: 575px) {
                //     width: 218px;
                // }

                .b-m-bot-portfolio-preview-imgs {
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    overflow-x: hidden;
                    // overflow-x: scroll;
                    scroll-snap-type: x mandatory;
                    scroll-behavior: smooth;
                    // @include utility.scrollBar(8px);

                    @media (min-width: 0px) and (max-width: 991px) {
                        overflow-x: auto;
                    }

                    .b-m-bot-portfolio-preview-img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        scroll-snap-align: center;
                        // border-radius: 10px;
                        user-select: none;
                    }
                }

                // 
                .b-m-bot-portfolio-preview-nav {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    box-sizing: border-box;
                    padding: 0 15px;
                    pointer-events: none;

                    @media (min-width: 0px) and (max-width: 991px) {
                        display: none;
                    }

                    .b-m-bot-portfolio-preview-nav-btn {
                        background-color: rgba(0, 0, 0, 0.3);
                        border-radius: 999px;
                        border: none;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        pointer-events: all;
                    }
                }

                // 
                .b-m-bot-portfolio-preview-dlt {
                    background-color: colors.$red;
                    border-radius: 10px 0;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                // 
                #b-m-bot-portfolio-preview-nav-progress {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: none;
                    padding: 10px;

                    &>* {
                        @include utility.spacing-R(5px);
                    }

                    @media (min-width: 0px) and (max-width: 991px) {
                        display: flex;
                        flex-direction: row;
                    }

                    .b-m-bot-portfolio-preview-nav-progress-dot {
                        width: 8px;
                        height: 8px;
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 999px;
                        // transition: background-color 150ms ease-in-out;
                    }

                    .b-m-bot-portfolio-preview-nav-progress-dot-active {
                        background-color: colors.$accent-100;
                    }
                }
            }

            .b-m-bot-portfolio-catalogue {
                height: 100%;
                padding: 0 16px;
                box-sizing: border-box;
                background: white;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 95px;
                overflow: auto;

                @include utility.scrollBar(6px);

                @media (min-width: 0px) and (max-width: 991px) {
                    flex-direction: row;
                    height: unset;
                    width: 100%;
                    padding: 16px 0;
                }

                @media (min-width: 768px) and (max-width: 991px) {

                    // &>* {
                    //     margin: 0 !important;
                    //     @include utility.spacing-R(16px);
                    // }
                }

                &>* {
                    @include utility.spacing-B(16px);

                    @media (min-width: 0px) and (max-width: 991px) {
                        margin-bottom: 0 !important;
                        @include utility.spacing-R(16px);
                    }

                    @media (min-width: 768px) and (max-width: 991px) {}
                }

                .b-m-bot-portfolio-catalogue-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;

                    img {
                        width: 75px;
                        height: 75px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }

                .b-m-bot-portfolio-catalogue-img-active {
                    background-color: colors.$accent;
                    // padding: 4px;
                    border-radius: 12.5px;

                    img {
                        opacity: 1;
                    }
                }

                .b-m-bot-portfolio-catalogue-img-inactive {
                    // padding: unset;
                    border-radius: unset;
                    cursor: pointer;

                    img {
                        opacity: 0.6;
                    }
                }

                .b-m-bot-portfolio-catalogue-add {
                    width: 75px;
                    height: 75px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    cursor: pointer;
                    background-color: #F7F7F8;
                    flex: none;

                }
            }
        }
    }
}
