@use 'fonts';
@use 'colors';
@use 'common';
@use 'utility';

//
.b-m-rootBlank {
    width: 100%;
    height: 50px;

    @media (max-width: 575px) {
        height: 20px;
    }
}

// Content 
.b-m-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    position: relative;

    @media (min-width: 768px) and (max-width: 991px) {
        // width: 555px;
    }

    // Image
    .b-m-top-profile {
        margin-bottom: 25px;

        .b-m-top-profile-img {
            width: 150px;
            height: 150px;
            border-radius: 9999px;
            user-select: none;
            object-fit: cover;
        }
    }

    // Infos
    .b-m-top-infos {
        display: flex;
        flex-direction: column;
        align-items: center;

        &>* {
            @include utility.spacing-B(15px);
        }

        // 
        .b-m-top-infos-main {
            display: flex;
            flex-direction: column;
            align-items: center;

            &>* {
                @include utility.spacing-B(5px);
            }

            // 
            .b-m-top-infos-main-name {
                display: flex;
                flex-direction: row;
                align-items: center;

                &>* {
                    @include utility.spacing-R(5px);
                }

                // 
                span {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                    color: colors.$black;
                }
            }

            // 
            .b-m-top-infos-main-prs {
                padding: 2px 12px;
                border: 1px solid colors.$grey-600;
                color: colors.$grey-600;
                font-style: italic;
                font-weight: normal;
                font-size: 16px;
                font-size: 16px;
                border-radius: 9999px;
            }
        }

        // 
        .b-m-top-infos-sps {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .b-m-top-infos-sps-sp {
                @include utility.spacing-R(10px);
                // 
                font-weight: 500;
                font-size: 18px;
                // 
                padding: 5px 20px;
                background: colors.$accent-100;
                color: colors.$accent-400;
                border-radius: 9999px;

                @media (max-width: 575px) {
                    font-size: 16px;
                    @include utility.spacing-R(8px);

                    &:nth-child(even) {
                        margin-right: 0;
                    }

                    &:nth-child(+n+3) {
                        margin-top: 8px;
                    }
                }
            }
        }

        // 
        .b-m-top-infos-desc {
            .b-m-top-infos-desc-text {
                display: flex;
                align-items: center;
                width: 550px;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                text-align: center;
                color: colors.$grey-500;

                @media (min-width: 576px) and (max-width: 767px) {
                    width: 502px;
                }

                @media (max-width: 575px) {
                    // max-width: 535px;
                    width: auto;
                }
            }
        }

        // 
        .b-m-top-infos-adress {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            @media (max-width: 575px) {
                flex-direction: column;
                align-items: center;
            }

            // 
            .b-top-infos-adress-label {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 10px;
                flex: none;

                @media (max-width: 575px) {
                    margin-right: 0;
                    margin-bottom: 5px;
                }

                svg {
                    margin-right: 5px;
                }

                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    color: colors.$grey-600;


                }
            }

            .b-top-infos-adress-text {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: colors.$grey-500;

                @media (max-width: 575px) {
                    text-align: center;
                    font-size: 16px;
                }

            }
        }

        // 
        .b-m-top-infos-phone {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 9px;
            border: 1px solid colors.$grey-500;
            border-radius: 5px;
            // cursor: pointer;

            svg {
                margin-right: 10px;
            }

            span {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: colors.$grey-500;
            }
        }
    }

    // 
    .b-m-top-options {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;

        @media (min-width: 0px) and (max-width: 767px) {
            flex-direction: column;
            align-items: flex-end;
        }

        // 
        &>* {
            @include utility.spacing-R(10px);

            @media (min-width: 0px) and (max-width: 767px) {
                margin-right: 0 !important;
                @include utility.spacing-B(10px);
            }
        }

        // 
        .b-m-top-option {
            width: 40px;
            height: 40px;
            border-radius: 9999px;
            display: flex;
            flex-direction: row;
            align-items: center;
            // justify-content: center;
            background-color: colors.$grey-100;
            cursor: pointer;
            transition: width 250ms ease-in;
            padding: 8px;
            box-sizing: border-box;


            span {
                display: none;
                word-break: break-all;
                white-space: nowrap;
                margin-left: 10px;
                width: 0;
                overflow: hidden;
                // 
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: colors.$grey-500
            }

            &:hover {
                width: 210px;

                &:after {
                    // right: unset;
                    // left: 0;
                }

                span {
                    display: block;
                    width: unset;
                }
            }
        }

        .b-m-top-option-active {
            background-color: colors.$accent-100;
            position: relative;

            &::after {
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                border-radius: 9999px;
                background-color: colors.$red;
                top: 0;
                right: 0;
            }

            span {
                color: colors.$accent;
            }
        }
    }
}

.b-m-bot {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    // margin-bottom: ;
    .b-m-bot-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        margin-bottom: 10px;

        &>* {
            @include utility.spacing-R(10px);
        }

        .b-m-bot-header-text {
            display: block;
            max-height: 60px;
            padding: 20px 5px;
            font-size: 17px;
            letter-spacing: 0.04em;
            cursor: pointer;
            user-select: none;
        }

        .b-m-bot-header-text-active {
            color: colors.$black;
            font-weight: 500;
            box-shadow: inset 0px -3px 0px colors.$accent;
        }

        .b-m-bot-header-text-inactive {
            color: colors.$grey-500;
            font-style: normal;
            font-weight: normal;
        }
    }
}
