@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
.container {
  padding: 0;
}
@media (max-width: 575px) {
  .container {
    width: 320px;
  }
}

body {
  margin: 0;
}

* {
  font-family: "Roboto" !important;
}

.container-custom {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container-custom {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-custom {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-custom {
    width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-custom {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .container-custom {
    width: 320px;
  }
}

.container-custom2 {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container-custom2 {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-custom2 {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-custom2 {
    width: 555px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-custom2 {
    width: 527px;
  }
}
@media (max-width: 575px) {
  .container-custom2 {
    width: 320px;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.ht-blank-125 {
  height: 125px;
}

.ht-blank-50 {
  height: 50px;
}

.ht-blank-25 {
  height: 25px;
}

.ht-d-f {
  display: flex;
}

.ht-container {
  display: flex;
  justify-content: space-between;
}

.ht-left {
  width: 555px;
}
@media (max-width: 991px) {
  .ht-left {
    width: 100%;
  }
}

.ht-intro-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0.02em;
  color: #0d0c22;
  margin-bottom: 10px;
}
@media (max-width: 575px) {
  .ht-intro-title {
    font-size: 30px;
    line-height: 35px;
  }
}

.ht-titles {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #0d0c22;
  max-width: 285px;
}
@media (max-width: 575px) {
  .ht-titles {
    font-size: 26px;
    line-height: 30px;
  }
}

.ht-titles2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #0d0c22;
  margin-bottom: 5px;
}
@media (max-width: 575px) {
  .ht-titles2 {
    font-size: 14px;
  }
}

.ht-desc, .ht-desc-nmbr {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #676878;
}
@media (max-width: 575px) {
  .ht-desc, .ht-desc-nmbr {
    font-size: 14px;
    line-height: 24px;
  }
}

.ht-desc-nmbr {
  font-weight: 500;
  color: #0d0c22;
  margin-right: 5px;
}

.ht-section-nmbr {
  font-weight: 900;
  font-size: 32px;
  line-height: 70%;
  color: #ffc000;
  margin-right: 5px;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 575px) {
  .ht-section-nmbr {
    font-size: 26px;
  }
}
.ht-section-nmbr .ht-line {
  width: 75px;
  height: 4px;
  background-color: #ffc000;
}

.ht-signup {
  width: 322px;
  height: 63px;
  border-radius: 5px;
  background-color: #ffc000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: white;
}
@media (max-width: 575px) {
  .ht-signup {
    width: 284px;
    height: 51px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 991px) {
  .ht-right-img {
    display: none;
  }
}

@media (max-width: 991px) {
  .ht-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div {
    text-align: center;
  }

  .ht-blank-125 {
    height: 50px;
  }
}

/*# sourceMappingURL=howTo.css.map */
