@use 'fonts';
@use 'colors';
@use 'common';
@use 'utility';

// 
.mg-rootBlank {
    width: 100%;
    height: 50px;

    @media (max-width: 575px) {
        height: 20px;
    }
}

// 
.mg-banner {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    background-color: colors.$grey-100;
    overflow: hidden;
    background-image: url('/images/ass_1.png');
    background-repeat: no-repeat;
    background-position: right;
    box-sizing: border-box;
    padding: 55px 0px 30px 55px;
    margin-bottom: 50px;

    .mg-benner-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .mg-banner-content-main {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .mg-banner-title {
                font-style: normal;
                font-weight: 900;
                font-size: 40px;
                margin: 0;
                color: colors.$black;
                width: 610px;
                margin-bottom: 30px;
            }

            .mg-banner-ref {
                width: 550px;
                height: 60px;
                background-color: white;
                border-radius: 10px;
                // overflow: hidden;
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                padding-left: 15px;
                justify-content: space-between;
                align-items: center;

                .mg-banner-ref-code {
                    // width: fit-content;
                    // height: fit-content;
                    width: 350px;
                    height: 26px;
                    padding: 5px;
                    font-weight: normal;
                    font-size: 16px;
                    color: colors.$grey-500;
                    border: none;
                    background: white;
                }

                .mg-banner-ref-share {
                    height: 100%;
                    padding: 0 15px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background: colors.$accent;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;

                    svg {
                        margin-right: 10px;
                    }

                    span {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        color: white;
                        user-select: none;
                    }
                }
            }
        }

        .mg-banner-more {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            text-decoration-line: underline;
            color: colors.$grey-500;
        }
    }
}

// 
.mg-store {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &>* {
        @include utility.spacing-B(50px);
    }

    .mg-store-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: colors.$black;

        .mg-store-header-greet {
            font-weight: 500;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            line-height: 26px;
            margin: 0;

            span {
                margin-left: 5px;
                font-weight: bold;
                font-size: 22px;
            }
        }

        .mg-store-header-points {
            display: flex;
            flex-direction: row;
            align-items: center;

            span {
                font-weight: 500;
                font-size: 18px;
            }

            div {
                margin-left: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;

                span {
                    font-weight: bold;
                    font-size: 20px;
                    color: colors.$accent;
                    margin-right: 5px;
                }
            }
        }
    }

    // 
    .mg-store-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .mg-store-row-title {
            font-weight: bold;
            font-size: 30px;
            color: colors.$black;
            margin-bottom: 20px;
        }

        .mg-store-row-collection {
            width: 100%;
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            // flex-wrap: wrap;

            .mg-store-service {
                flex: none;
                width: 270px;
                height: 150px;
                padding: 15px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                background: white;
                border: 1px solid colors.$grey-300;
                border-radius: 20px;

                @include utility.spacing-R(20px);

                .mg-store-service-top {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                }

                .mg-store-service-buy {
                    padding: 8px 20px;
                    background: colors.$accent-100;
                    border-radius: 10px;
                    border: none;

                    span {
                        font-weight: 500;
                        font-size: 18px;
                        color: colors.$accent-400;
                    }
                }
            }

            // 
            .mg-store-service-points {
                background-image: url('/images/ass_2.png');
                background-repeat: no-repeat;
                background-position: 95px center;

                .mg-store-service-points-price {
                    margin: 0;
                    font-weight: bold;
                    font-size: 18px;
                    color: colors.$black;

                    span {
                        font-weight: bold;
                        font-size: 26px;
                        line-height: 25px;
                    }
                }

                .mg-store-service-points-value {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    span {
                        font-weight: bold;
                        font-size: 22px;
                        color: colors.$black;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
