@use 'fonts';
@use 'colors';
@use 'common';
@use 'utility';

@mixin txt-of {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blank-15 {
    height: 15px;
}

.blank-31 {
    @media (max-width: 991px) {
        height: 31px;
    }
}

.blank-50 {
    height: 50px;
}

.fw-500 {
    font-weight: 500;
}

.sr-ad1 {
    width: 800px;
    height: 125px;
    overflow: hidden;
    background-image: url("../images/SRad1.png");
    background-position: center;

    @media (min-width: 992px) and (max-width: 1199px) {
        width: 650px;
    }

    //MD
    @media (min-width: 768px) and (max-width: 991px) {
        width: 720px;
    }

    //SM
    @media (min-width: 576px) and (max-width: 767px) {
        width: 540px;
    }

    //XS
    @media (max-width: 575px) {
        width: 320px;
    }
}

.sr-ad2 {
    width: 310px;
    height: 939px;
    overflow: hidden;
    background-image: url("../images/SRad2.png");
    background-position: center;

    //LG
    @media (min-width: 992px) and (max-width: 1199px) {
        width: 280px;
    }

    //MD
    @media (max-width: 991px) {
        display: none;
    }
}

.sr-links {
    a {
        color: colors.$black;
    }
}

//--------------------------------
.sr-centerSearch {
    display: flex;
    justify-content: center;
}

.sr-search-fit {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    //XS
    @media (max-width: 575px) {
        width: 320px;
    }
}

.sr-searchbtn {
    font-weight: bold;
}

.sr-all {
    display: flex;
    justify-content: space-between;

    //MD
    @media (max-width: 991px) {
        flex-direction: column-reverse;
    }
}

.sr-showMore {
    display: flex;
    justify-content: center;
    width: 800px;

    @media (min-width: 992px) and (max-width: 1199px) {
        width: 650px;
    }

    //MD
    @media (min-width: 768px) and (max-width: 991px) {
        width: 720px;
    }

    //SM
    @media (min-width: 576px) and (max-width: 767px) {
        width: 540px;
    }

    //XS
    @media (max-width: 575px) {
        width: 320px;
    }

    .sr-showMoreBtn {
        padding: 15px 35px;
        width: 191px;
        height: 50px;
        border: 1px solid colors.$grey-400;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        color: colors.$grey-600;
        font-weight: 500;
        cursor: pointer;
        font-size: 16px;

        svg {
            margin-right: 10px;
            // margin-left: 3px;
        }
    }
}

.sr-ProfessionVille {
    font-weight: 500;
    font-size: 14px;
    color: colors.$black;
    letter-spacing: 0.03em;
    margin-bottom: 3px;
}

.sr-ProfessionVille-resp1 {
    @media (max-width: 991px) {
        display: none;
    }
}

.sr-ProfessionVille-resp2 {
    @media (min-width: 991px) {
        display: none;
    }

    @media (max-width: 991px) {
        margin-bottom: 0;
    }
}

.sr-foundResNum {
    width: 800px;
    height: 51px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    border: 1px solid #ebebec;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;

    //LG
    @media (min-width: 992px) and (max-width: 1199px) {
        width: 650px;
    }

    //MD
    @media (min-width: 768px) and (max-width: 991px) {
        width: 720px;
    }

    //SM
    @media (min-width: 576px) and (max-width: 767px) {
        width: 540px;
    }

    //XS
    @media (max-width: 575px) {
        width: 320px;
        height: 90px;
        flex-direction: column;
        align-items: flex-start;
    }

    .sr-Resultatstrouves {
        color: colors.$black;

        b {
            font-size: 18px;
        }
    }

    .sr-dFlex {
        display: flex;
    }

    .sr-seperator {
        height: 15px;
        width: 1px;
        background-color: colors.$grey-200;
        // margin-right: 10px;
        margin-left: 10px;

        //XS
        @media (max-width: 575px) {
            height: 1px;
            width: 300px;
            margin-left: 0;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    .sr-cb-wrapper {
        display: flex;
        color: colors.$grey-600;

        .sr-checkmark {
            border-radius: 5px;
            width: 18px;
            height: 18px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            margin-right: 5px;
        }

        .sr-checkmark-resp {

            //XS
            @media (max-width: 575px) {
                margin-left: 0;
            }
        }

        .sr-checkmark:hover {
            border: 1px solid colors.$accent !important;
            box-shadow: 0 0 0 2px colors.$accent-100;
        }
    }
}

.sr-profile {
    position: relative;
    width: 800px;
    height: 175px;
    border: 1px solid colors.$grey-300;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;

    @media (min-width: 992px) and (max-width: 1199px) {
        width: 650px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        width: 720px;
    }

    //SM
    @media (min-width: 576px) and (max-width: 767px) {
        width: 540px;
    }

    //XS
    @media (max-width: 575px) {
        width: 320px;
        height: 125px;
    }

    // PORTFOLIO
    .sr-portfolio {
        width: 250px;
        height: 175px;
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-width: none; // for moz
        // 
        scroll-snap-type: x mandatory;
        // scroll-behavior: smooth;

        //MD
        @media (min-width: 768px) and (max-width: 991px) {
            max-width: 250px;
        }

        //SM
        @media (min-width: 576px) and (max-width: 767px) {
            max-width: 200px;
            overflow-x: hidden;
        }

        //XS
        @media (max-width: 575px) {
            width: 125px;
            height: 125px;
            overflow-x: hidden;
        }

        .sr-portfolio-img {
            // width: 750px;
            height: 175px;
            display: flex;

            &>* {

                scroll-snap-align: center;
            }


            img {
                width: 250px;
                height: 175px;
                object-fit: cover;

                //SM
                @media (min-width: 576px) and (max-width: 767px) {
                    width: 200px;
                }

                //XS
                @media (max-width: 575px) {
                    width: 125px;
                    height: 125px;
                }
            }

        }
    }

    .sr-portfolio::-webkit-scrollbar {
        // for chrome & safari (works on edge too)
        display: none;
    }

    .sr-arrows-container {
        padding: 10px;
        margin-top: -46px;
        position: absolute;
        left: 161px;

        @media (max-width: 767px) {
            display: none;
        }

        .sr-arrows {
            width: 69px;
            height: 26px;
            display: flex;
            justify-content: space-between;

            .sr-arrowLeft,
            .sr-arrowRight {
                background: none;
                border: none;
                padding: 0;
                display: flex;
            }
        }

        svg {
            cursor: pointer;
        }
    }

    //INFOS
    .sr-infos-sub {
        // width: 500px;
        width: fit-content;
        height: 118px;
        padding: 5px 0px;
        margin-left: 10px;

        @media (min-width: 992px) and (max-width: 1199px) {
            // width: 377px;
            // height: 150px;
        }
    }

    .sr-imgName {
        display: flex;
        width: 287px;
        height: 40px;

        //XS
        @media (max-width: 575px) {
            align-items: center;
            width: 175px;
            height: 25px;
        }

        .sr-profilePhoto {
            @media (max-width: 575px) {
                width: 25px;
                height: 25px;
            }

            user-select: none;

            img {
                width: 40px;
                height: 40px;
                border-radius: 40px;
                object-fit: cover;

                //XS
                @media (max-width: 575px) {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        .sr-profileInfo {
            // width: 237px;
            width: 445px;
            // height: 40px;
            margin-left: 10px;

            //LG
            @media (min-width: 992px) and (max-width: 1199px) {
                width: 330px;
            }

            //MD
            @media (min-width: 768px) and (max-width: 991px) {
                width: 390px;
            }

            //SM
            @media (min-width: 576px) and (max-width: 767px) {
                width: 265px;
            }

            //SM
            @media (max-width: 575px) {
                width: 145px;
                // height: unset;
                // height: 14px;
            }

            .sr-NomPRENOM {
                font-size: 17px;
                color: colors.$black;
                // width: 237px;
                // height: 20px;

                @include txt-of;

                //SM
                @media (max-width: 575px) {
                    // font-size: 12px;
                    font: 14px;
                }
            }
        }
    }

    .sr-SousProf-all {
        display: flex;
        overflow: hidden;
        color: colors.$accent-400;

        //SM
        @media (max-width: 575px) {
            display: none;
        }

        .sr-SousProf {
            font-style: italic;
            font-size: 14px;
            padding: 2px 8px;
            background-color: colors.$accent-100;
            border-radius: 10px;
            white-space: nowrap;
            user-select: none;
            // 
            @include utility.spacing-R(5px);

            // 
            //SM
            @media (max-width: 575px) {
                // font-size: 10px;
                font-size: 12px;
                @include utility.spacing-R(1px);
            }

        }
    }

    .sr-SousProf-all-resp {
        @media (min-width: 575px) {
            display: none;
        }

        //SM
        @media (max-width: 575px) {
            display: flex;
            margin-top: 5px;
            width: 175px;
        }

    }

    .sr-description {
        font-size: 14px;
        color: colors.$grey-600;

        .sr-desc {
            width: 500px;
            height: 32px;
            // white-space: nowrap;
            overflow: hidden;
            // text-overflow: ellipsis;
            margin-top: 10px;
            margin-bottom: 10px;

            @media (min-width: 992px) and (max-width: 1199px) {
                width: 364px;
                height: 48px;
            }

            //MD
            @media (min-width: 768px) and (max-width: 991px) {
                width: 450px;
                height: 48px;
            }

            //SM
            @media (min-width: 576px) and (max-width: 767px) {
                width: 320px;
                height: 64px;
            }

            //XS
            @media (max-width: 575px) {
                width: 175px;
                height: 60px;
                // font-size: 10px;
                font-size: 12px;
                margin-top: 6px;
                margin-bottom: 8px;
                line-height: 12px;
            }
        }

        .sr-address {
            width: 500px;
            height: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (min-width: 992px) and (max-width: 1199px) {
                width: 364px;
                height: 32px;
                white-space: normal;
            }

            //MD
            @media (min-width: 768px) and (max-width: 991px) {
                width: 450px;
                height: 16px;
            }

            //SM
            @media (min-width: 576px) and (max-width: 767px) {
                width: 320px;
                height: 32px;
                white-space: normal;
            }

            //XS
            @media (max-width: 575px) {
                display: none;
            }
        }
    }

    // 
    .sr-profile-fav {
        position: absolute;
        bottom: 2px;
        right: 2px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: colors.$grey-100;
        background: white;
        border: none;
        border-radius: 9999px;
        padding: 0;
        cursor: pointer;

        @media (min-width: 0px) and (max-width: 767px) {
            right: unset;
            bottom: unset;
            left: 5px;
            top: 5px;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
        }


        &:hover {
            svg {
                path {
                    stroke: colors.$red;
                }
            }
        }
    }

    .sr-profile-fav-liked {
        svg {
            path {
                fill: colors.$red;
                stroke: colors.$red;
            }
        }
    }

}

.sr-profile:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

// AGENCIES

.sr-servicePremium {
    font-size: 16px;
    color: colors.$black;
    width: 310px;
    height: 51px;
    padding: 13px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ebebec;
    border-radius: 10px;
    box-sizing: border-box;
    letter-spacing: 0.03em;
    font-weight: 500;

    //LG
    @media (min-width: 992px) and (max-width: 1199px) {
        width: 280px;
    }

    //MD
    @media (min-width: 768px) and (max-width: 991px) {
        width: 720px;
    }

    //SM
    @media (min-width: 576px) and (max-width: 767px) {
        width: 540px;
    }

    //XS
    @media (max-width: 575px) {
        width: 320px;
    }

    .sr-SP-text {}

    .sr-yellBorder {
        width: 129px;
        height: 2px;
        border-radius: 5px 5px 0px 0px;
        background-color: colors.$accent;
        margin-top: 2px;
    }
}

.sr-agencies {
    width: 310px;
    height: 545px;
    overflow-x: hidden;
    overflow-y: hidden;

    //style scrollbar on moz
    scrollbar-color: colors.$grey-500 colors.$grey-300;
    scrollbar-width: thin;

    //LG
    @media (min-width: 992px) and (max-width: 1199px) {
        width: 280px;
    }

    //MD
    @media (min-width: 768px) and (max-width: 991px) {
        display: flex;
        width: 720px;
        height: 292px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    //SM
    @media (min-width: 576px) and (max-width: 767px) {
        display: flex;
        width: 540px;
        height: 292px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    //XS
    @media (max-width: 575px) {
        display: flex;
        width: 320px;
        height: 202px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .sr-blank-15-rp {
        @media (max-width: 991px) {
            min-width: 15px;
        }
    }

    .sr-Agency {
        min-width: 310px;
        height: 265px;
        border: 1px solid colors.$grey-300;
        box-sizing: border-box;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        // flex-basis: 310px;
        // flex-shrink: 1;

        //LG
        @media (min-width: 992px) and (max-width: 1199px) {
            min-width: 280px;
        }

        //MD
        @media (min-width: 768px) and (max-width: 991px) {
            min-width: 280px;
        }

        //SM
        @media (min-width: 576px) and (max-width: 767px) {
            min-width: 280px;
        }

        //XS
        @media (max-width: 575px) {
            min-width: 200px;
            height: 175px;
        }

        &>a {
            width: 310px;
            height: 200px;

            @media (min-width: 992px) and (max-width: 1199px) {
                width: 280px;
            }

            //MD
            @media (min-width: 768px) and (max-width: 991px) {
                width: 280px;
            }

            //SM
            @media (min-width: 576px) and (max-width: 767px) {
                width: 280px;
            }

            //XS
            @media (max-width: 575px) {
                width: 200px;
                height: 125px;
            }
        }

        .sr-AgencyImgBg {
            width: 310px;
            height: 200px;
            object-fit: cover;

            @media (min-width: 992px) and (max-width: 1199px) {
                width: 280px;
            }

            //MD
            @media (min-width: 768px) and (max-width: 991px) {
                width: 280px;
            }

            //SM
            @media (min-width: 576px) and (max-width: 767px) {
                width: 280px;
            }

            //XS
            @media (max-width: 575px) {
                width: 200px;
                height: 125px;
            }
        }

        .sr-AgencyDetails {
            display: flex;
            align-items: center;
            width: 290px;
            height: 45px;
            margin-left: 10px;
            margin-top: 10px;
            box-sizing: border-box;

            @media (min-width: 992px) and (max-width: 1199px) {
                width: 260px;
            }

            @media (min-width: 768px) and (max-width: 991px) {
                width: 260px;
            }

            //SM
            @media (min-width: 576px) and (max-width: 767px) {
                width: 260px;
            }

            //XS
            @media (max-width: 575px) {
                // margin-top: 0;
                align-items: flex-start;
                width: 180px;
                height: 30px;
            }

            .sr-AgencyImgSm {
                width: 45px;
                height: 45px;
                border-radius: 90px;
                margin-right: 10px;
                object-fit: cover;

                @media (max-width: 575px) {
                    width: 30px;
                    height: 30px;
                }
            }

            .sr-AgencyDetailsSub {
                font-size: 17px;

                .sr-AgencyDetailsName {
                    max-width: 235px;
                    height: 20px;
                    // font-size: 17px;
                    font-weight: 500;
                    color: colors.$black;
                    margin-bottom: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media (min-width: 992px) and (max-width: 1199px) {
                        width: 205px;
                    }

                    @media (min-width: 768px) and (max-width: 991px) {
                        width: 205px;
                    }

                    //SM
                    @media (min-width: 576px) and (max-width: 767px) {
                        width: 205px;
                    }

                    //XS
                    @media (max-width: 575px) {
                        // font-size: 12px;
                        font-size: 14px;
                        width: 140px;
                        height: 14px;
                        margin-bottom: 0;
                    }
                }

                .sr-AgencyDetailsSpeciality {
                    max-width: 235px;
                    height: 20px;
                    // font-size: 17px;
                    font-weight: 500;
                    color: colors.$grey-600;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                @media (min-width: 992px) and (max-width: 1199px) {
                    width: 205px;
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    width: 205px;
                }

                //SM
                @media (min-width: 576px) and (max-width: 767px) {
                    width: 205px;
                }

                //XS
                @media (max-width: 575px) {
                    // font-size: 10px !important;
                    font-size: 12px;
                    width: 140px;
                    height: 12px;
                }
            }
        }
    }
}

//style scrollbar webkit
.sr-agencies::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.sr-agencies::-webkit-scrollbar-track {
    background: colors.$grey-300;
    border-radius: 15px;
}

.sr-agencies::-webkit-scrollbar-thumb {
    background: colors.$grey-500;
    border-radius: 15px;
}

.sr-agencies::-webkit-scrollbar-thumb:hover {
    background: colors.$grey-600;
}

//RESPONSIVE

//LG
@media (min-width: 992px) and (max-width: 1199px) {}

//MD
@media (min-width: 768px) and (max-width: 991px) {}

//SM
@media (min-width: 576px) and (max-width: 767px) {}

//XS
@media (max-width: 575px) {}
