@use 'fonts';
@use 'colors';
@use 'common';

.sb4-blank-20 {
    height: 20px;
}

.sb4-section2-text {
    width: 100%;
}
.sb4-section2-text1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: colors.$black;
}
.sb4-section2-text2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: colors.$grey-600;
}
.sb4-mainSection {
    width: 450px;
    // height: 461px;
    //XS
    @media (max-width: 575px) {
        width: 320px;
    }
    .sb4-imageUploadSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 575px) {
            margin-top: 31px;
        }
        .sb4-imageProfile {
            width: 115px;
            height: 115px;
            border-radius: 999px;
            background-image: url("../images/icons/imageUploadDefault.svg");
            overflow: hidden;
            img {
                width: 115px;
                height: 115px;
                object-fit: cover;
            }
        }
        .sb4-imageUploadButtonSection {
            width: 224px;
            height: 41px;
            padding: 10px 15px;
            margin-top: 11px;
            margin-bottom: 11px;
            box-sizing: border-box;
            border: 1px solid colors.$grey-400;
            border-radius: 5px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.02em;
            color: colors.$grey-500;

            input {
                display: none;
            }
            label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
            }
        }
        .sb4-imageSize {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: colors.$grey-500;
            // max-width: 197px;
            // text-align: center;
        }
    }

    .sb4-seperator2 {
        width: 100%;
        height: 1px;
        background-color: colors.$grey-400;
        margin-bottom: 40px;
        //XS
        @media (max-width: 575px) {
            display: none;
        }
    }
    .sb4-commentArea {
        width: 450px;
        padding: 10px;
        height: 147px;
        border: 1px solid colors.$grey-400;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        // resize: none;

        //XS
        @media (max-width: 575px) {
            width: 320px;
            padding: 10px 7px;
        }

        //style scrollbar on moz
        scrollbar-color: colors.$grey-500 colors.$grey-300;
        scrollbar-width: thin;
    }
    .sb4-commentArea::placeholder {
        font-style: italic;
        color: colors.$grey-500;
    }
    .sb4-commentArea:focus {
        outline: none !important;
        border: 1px solid colors.$grey-500;
        box-shadow: 0 0 0 2px colors.$grey-400;
    }
    //style scrollbar webkit
    .sb4-commentArea::-webkit-scrollbar {
        width: 6px;
    }

    .sb4-commentArea::-webkit-scrollbar-track {
        background: colors.$grey-100;
        border-radius: 4px;
    }

    .sb4-commentArea::-webkit-scrollbar-thumb {
        background: colors.$grey-300;
        border-radius: 4px;
    }
    .sb4-commentArea::-webkit-scrollbar-thumb:hover {
        background: colors.$grey-400;
    }
}
.errorStyle {
    color: red !important;
    font-weight: bold;
}
