@use 'fonts';
@use 'colors';
@use 'common';

.sb1-blank-53 {
    min-width: 53px;
    //XS
    @media (max-width: 575px) {
        min-width: 11px;
    }
}
.sb1-blank-51 {
    height: 51px;

    @media (max-width: 575px) {
        height: 50px;
    }
}
.sb1-blank-50 {
    height: 50px;
}

.sb1-blank-20 {
    height: 20px;
}

.sb1-blank-20-resp {
    @media (max-width: 575px) {
        height: 15px;
    }
}

.sb1-container {
    display: flex;
    justify-content: center;
}
.sb1-sub-container {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.02);

    //XS
    @media (max-width: 575px) {
        max-width: 320px;
    }
}
.sb1-title {
    font-weight: bold;
    font-size: 29px;
    letter-spacing: 0.02em;
    line-height: 34px;
    margin-top: 20px;
    margin-bottom: 35px;
    color: colors.$black;

    //XS
    @media (max-width: 575px) {
        font-size: 20px;
        line-height: 23px;
    }
}
.sb1-accountType {
    // width: 100%;
    display: flex;
    // font-size: 14px;
    justify-content: space-between;
}
.sb1-accountType-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: colors.$grey-600;
    cursor: pointer;

    svg {
        margin-bottom: 3px;
    }
    div {
        max-width: 77px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.02em;
    }
}
.sb1-accountType-item-active {
    color: colors.$black !important;
    svg {
        circle {
            fill: #fdf6b2;
        }
        path {
            fill: #723b14;
        }
    }
}
.sb1-form {
    position: relative;
    width: 450px;
    //XS
    @media (max-width: 575px) {
        width: 320px;
    }
    label {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: colors.$black;
        margin-bottom: 20px;
    }
    input,
    select {
        width: 100%;
        height: 40px;
        border: 1px solid colors.$grey-400;
        box-sizing: border-box;
        border-radius: 5px;
        padding-left: 5px;
        margin-top: 5px;
        // margin-bottom: 20px;
    }
    input:focus,
    select:focus {
        outline: none !important;
        border: 1px solid colors.$grey-500;
        box-shadow: 0 0 0 2px colors.$grey-400;
    }
    .sb1-phone-gender {
        display: flex;
        //XS
        @media (max-width: 575px) {
            flex-direction: column;
        }
        input {
            width: 220px;
            margin-right: 10px;
            @media (max-width: 575px) {
                width: 100%;
                margin-right: 0;
            }
        }
        select {
            width: 220px;
            color: colors.$grey-600;
            font-size: 16px;
            font-style: italic;
            letter-spacing: -0.02em;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            padding-left: 10px;
            background-image: url("../images/icons/arrow-down.svg");
            background-repeat: no-repeat;
            background-position: 195px center;

            @media (max-width: 575px) {
                width: 100%;
                background-position: 295px center;
            }

            option {
                font-style: normal;
                color: colors.$black;
            }
        }
    }
    .sb1-submit {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 575px) {
            flex-direction: column-reverse;
            justify-content: center;
        }
        .sb1-cancel {
            width: 176px;
            height: 57px;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.02em;
            color: colors.$grey-500;
            // padding: 18px 55px;
            border: none;
            border-radius: 10px;
            background-color: colors.$grey-100;
            cursor: pointer;

            @media (max-width: 575px) {
                margin-top: 18px;
                width: 320px;
            }
        }
        .sb1-cancel:hover {
            background-color: colors.$grey-50;
        }
        .sb1-cancel:focus {
            outline: none !important;
            border: 1px solid colors.$grey-400;
            box-shadow: 0 0 0 3px colors.$grey-200;
            background-color: colors.$grey-100;
        }
        .sb1-continue {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 256px;
            height: 57px;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.02em;
            color: white;
            // padding: 18px 80px;
            box-sizing: border-box;
            border: none;
            border-radius: 10px;
            background-color: colors.$accent;
            cursor: pointer;

            svg {
                margin-left: 6px;
            }

            @media (max-width: 575px) {
                width: 320px;
            }
        }
        .sb1-continue:hover {
            background-color: colors.$accent-200;
        }
        .sb1-continue:focus {
            background-color: colors.$accent;
            outline: none !important;
            border: 1px solid colors.$accent-300;
            box-shadow: 0 0 0 3px colors.$accent-100;
        }
    }
}
.sp1-fancySeperator {
    width: 450px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../images/icons/seperator-fancy.svg");
    background-position: center center;
    @media (max-width: 575px) {
        width: 320px;
    }
}
.sp1-cpmtExist {
    font-size: 16px;
    line-height: 19px;
    color: colors.$grey-500;
    a {
        color: colors.$accent;
        font-weight: 500;
    }
    a:link {
        text-decoration: underline;
    }

    @media (max-width: 575px) {
        font-size: 14px;
    }
}

// ------------------------

//SELECT CITY

.sb1-cities-list {
    border: 1px solid colors.$grey-400;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 0;
    position: absolute;
    width: 100%;
    background-color: white;
    display: none;

    .sb1-city-select {
        padding: 4px 5px;
        height: 24px;
        font-size: 14px;
        line-height: 16px;
        color: colors.$grey-600;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .sb1-city-select:hover {
        background-color: colors.$grey-100;
    }
    .sb1-city-select:focus {
        outline: none !important;
        background-color: colors.$grey-100;
    }
}
.sc-cities-list {
    @extend .sb1-cities-list;
    .sc-city-select {
        @extend .sb1-city-select;
    }
}

//ERROR
.sb1-error {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
    // margin-left: 2px;
    color: colors.$red-200;
}
.sb1-error-border {
    border: 1px solid colors.$red !important;
    box-shadow: 0 0 0 2px colors.$red-100 !important;
}
.sb1-error-border:focus {
    border: 1px solid colors.$red !important;
    box-shadow: 0 0 0 2px colors.$red-100 !important;
}
