@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
.container {
  padding: 0;
}
@media (max-width: 575px) {
  .container {
    width: 320px;
  }
}

body {
  margin: 0;
}

* {
  font-family: "Roboto" !important;
}

.container-custom {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container-custom {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-custom {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-custom {
    width: 720px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-custom {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .container-custom {
    width: 320px;
  }
}

.container-custom2 {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container-custom2 {
    width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-custom2 {
    width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-custom2 {
    width: 555px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container-custom2 {
    width: 527px;
  }
}
@media (max-width: 575px) {
  .container-custom2 {
    width: 320px;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.b-m-bot .b-m-bot-portfolio {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-m-bot .b-m-bot-portfolio {
    width: 625px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .b-m-bot .b-m-bot-portfolio {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .b-m-bot .b-m-bot-portfolio {
    width: 320px;
  }
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont {
  width: 730px;
  height: 425px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 991px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont {
    width: 100%;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont {
    height: 550px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont {
    height: 493px;
  }
}
@media (max-width: 575px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont {
    height: 333px;
  }
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont > * {
  flex: none;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview {
  width: 625px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 991px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview {
    height: 425px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview {
    height: 368px;
  }
}
@media (max-width: 575px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview {
    height: 218px;
  }
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview .b-m-bot-portfolio-preview-imgs {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
@media (min-width: 0px) and (max-width: 991px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview .b-m-bot-portfolio-preview-imgs {
    overflow-x: auto;
  }
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview .b-m-bot-portfolio-preview-imgs .b-m-bot-portfolio-preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: none;
  scroll-snap-align: center;
  user-select: none;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview .b-m-bot-portfolio-preview-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 15px;
  pointer-events: none;
}
@media (min-width: 0px) and (max-width: 991px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview .b-m-bot-portfolio-preview-nav {
    display: none;
  }
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview .b-m-bot-portfolio-preview-nav .b-m-bot-portfolio-preview-nav-btn {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: all;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview .b-m-bot-portfolio-preview-dlt {
  background-color: #ff6868;
  border-radius: 10px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview #b-m-bot-portfolio-preview-nav-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding: 10px;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview #b-m-bot-portfolio-preview-nav-progress > *:not(:last-child) {
  margin-right: 5px;
}
@media (min-width: 0px) and (max-width: 991px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview #b-m-bot-portfolio-preview-nav-progress {
    display: flex;
    flex-direction: row;
  }
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview #b-m-bot-portfolio-preview-nav-progress .b-m-bot-portfolio-preview-nav-progress-dot {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 999px;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-preview #b-m-bot-portfolio-preview-nav-progress .b-m-bot-portfolio-preview-nav-progress-dot-active {
  background-color: #fdf6b2;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue {
  height: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95px;
  overflow: auto;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue::-webkit-scrollbar-track {
  background: #f7f7f8;
  border-radius: 999px;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue::-webkit-scrollbar-thumb {
  background: #d2d6db;
  border-radius: 999px;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue::-webkit-scrollbar-thumb:hover {
  background: #676878;
}
@media (min-width: 0px) and (max-width: 991px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue {
    flex-direction: row;
    height: unset;
    width: 100%;
    padding: 16px 0;
  }
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue > *:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 0px) and (max-width: 991px) {
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue > * {
    margin-bottom: 0 !important;
  }
  .b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue > *:not(:last-child) {
    margin-right: 16px;
  }
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue .b-m-bot-portfolio-catalogue-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue .b-m-bot-portfolio-catalogue-img img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 10px;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue .b-m-bot-portfolio-catalogue-img-active {
  background-color: #ffc000;
  border-radius: 12.5px;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue .b-m-bot-portfolio-catalogue-img-active img {
  opacity: 1;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue .b-m-bot-portfolio-catalogue-img-inactive {
  border-radius: unset;
  cursor: pointer;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue .b-m-bot-portfolio-catalogue-img-inactive img {
  opacity: 0.6;
}
.b-m-bot .b-m-bot-portfolio .b-m-bot-portfolio-cont .b-m-bot-portfolio-catalogue .b-m-bot-portfolio-catalogue-add {
  width: 83px;
  height: 83px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #F7F7F8;
  flex: none;
}

/*# sourceMappingURL=brikoleur-portfolio.css.map */
